* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f4f7;
  color: #003d2b;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #003d2b;
  color: white;
  width: 200px;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar li:hover {
  background-color: #00593b;
}

main {
  flex: 1;
  padding: 30px;
  background-color: #ffffff;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

img {
  width: 700px;
  height: 500px;
  align-self: flex-start;
  border: 5px solid #003d2b;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #00695c;
  color: white;
}

.texto-inicio {
  margin-top: 80px;
  font-size: 20px;
}

#tabela-cardapio ul {
  padding-left: 15px;
  text-align: left;
}